<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div class="row">
  <!-- column -->
  <div class="col-lg-8">
    <app-sales-overview></app-sales-overview>
  </div>
  <!-- column -->
  <!-- column -->
  <div class="col-lg-4">
    <app-our-visitors></app-our-visitors>
  </div>
  <!-- column -->
</div>

<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div class="row">
  <!-- Card column -->
  <div class="col-lg-4">
    <app-profile-card></app-profile-card>
    <app-my-contacts></app-my-contacts>
  </div>
  <!-- Card column -->
  <!-- Card column -->
  <div class="col-lg-8">
    <app-activity-timeline></app-activity-timeline>
  </div>
</div>