<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-lg="65" fxFlex.gt-md="65" fxFlex.gt-xs="100" fxFlex="100">
    <app-sales-overview></app-sales-overview>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-lg="35" fxFlex.gt-md="35" fxFlex.gt-xs="100" fxFlex="100">
    <app-our-visiter></app-our-visiter>
  </div>
  <!-- column -->
</div>

<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <!-- Card column -->
  <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
    <app-profile></app-profile>
    <app-contacts></app-contacts>
  </div>
  <!-- Card column -->
  <!-- Card column -->
  <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
    <app-activity-timeline></app-activity-timeline>
  </div>
</div>
