<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Icons</mat-card-title>
    <mat-card-subtitle class="mat-body-1 m-b-24">Tabler Icons</mat-card-subtitle>
    <iframe src="https://tabler.io/icons" title="Tabler Icons" width="100%" height="700px"
      allowfullscreen frameBorder="0">
    </iframe>
  </mat-card-content>
</mat-card>