<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- Card column -->
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Stepper</mat-card-title>
                <mat-card-subtitle>Check the <code class=""><a href="https://material.angular.io/components/stepper/overview">Official Component</a></code></mat-card-subtitle>
                <button mat-raised-button (click)="isLinear = true" id="toggle-linear">Enable linear mode</button>
                <mat-horizontal-stepper [linear]="isLinear">
                  <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">
                      <ng-template matStepLabel>Fill out your name</ng-template>
                      <mat-form-field>
                        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                      </mat-form-field>
                      <div>
                        <button mat-raised-button color="warn" matStepperNext>Next</button>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                      <ng-template matStepLabel>Fill out your address</ng-template>
                      <mat-form-field>
                        <input matInput placeholder="Address" formControlName="secondCtrl" required>
                      </mat-form-field>
                      <div>
                        <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                        <button mat-raised-button color="warn" matStepperNext>Next</button>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    You are now done.
                    <div>
                      <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                    </div>
                  </mat-step>
                </mat-horizontal-stepper>
            
            </mat-card-content>
             
        </mat-card>    
    </div>
</div>

