@use "sass:map";
@use "@angular/material" as mat;

@include mat.fab-overrides(
  (
    small-container-shape: 30px,
    container-shape: 30px,
    container-elevation-shadow: none,
    small-container-elevation-shadow: none,
    small-hover-container-elevation-shadow: var(--mat-sys-level3),
    hover-container-elevation-shadow: var(--mat-sys-level3),
    extended-hover-container-elevation-shadow: var(--mat-sys-level3),
    extended-container-elevation-shadow: none,
  )
);
