.no-shadow mat-toolbar{
    box-shadow: none;
}
.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}