<div class="blank-layout-container justify-content-center align-items-center bg-light">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img src="./assets/images/logos/dark-logo.svg" class="align-middle m-2" alt="logo" />
            </a>
          </div>

          <div class="row m-t-24 custom-row">
            <div class="col-6">
              <button mat-stroked-button class="w-100">
                <div class="d-flex align-items-center">
                  <img src="/assets/images/svgs/google-icon.svg" alt="google" width="16" class="m-r-8" />
                  <span>Google</span>
                </div>
              </button>
            </div>
            <div class="col-6">
              <button mat-stroked-button class="w-100 d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <img src="/assets/images/svgs/facebook-icon.svg" alt="facebook" width="40" class="m-r-4" />
                  <span>Facebook</span>
                </div>
              </button>
            </div>
          </div>

          <div class="or-border m-t-30">or sign in with</div>

          <form class="m-t-30">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Username</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput />
            </mat-form-field>
            <!-- password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" />
            </mat-form-field>

            <div class="d-flex align-items-center m-b-12">
              <mat-checkbox color="primary">Remember this Device</mat-checkbox>
              <a [routerLink]="['/']" class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14">Forgot Password
                ?</a>
            </div>
            <a [routerLink]="['/']" mat-flat-button color="primary" class="w-100">
              Sign In
            </a>
            <!-- input -->
          </form>
          <span class="d-block f-w-500 text-center m-t-24">New to MaterialPro?
            <a [routerLink]="['/authentication/register']" class="text-decoration-none text-primary f-w-500 f-s-14">
              Create an account</a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>