html .blue_theme {
  --mat-sys-primary: rgb(27, 132, 255);
  --mat-sys-primary-fixed-dim: rgb(27, 132, 255, 0.15);
  --mat-sys-secondary: rgb(67, 206, 215);
  --mat-sys-secondary-fixed-dim: rgb(67, 206, 215, 0.15);
} 