<mat-card class="cardWithShadow">
    <mat-tab-group animationDuration="0ms">
        <!-- Tab 1 -->
        <mat-tab label="Activity">
            <mat-card-content class="p-24">
                <div class="profiletimeline position-relative">
                    <div class="sl-item mt-2 mb-3">
                        <div class="sl-left float-left me-3">
                            <img src="assets/images/profile/user-1.jpg" width="40" alt="user" class="rounded-circle" />
                        </div>
                        <div class="sl-right">
                            <div>
                                <div class="d-sm-flex align-items-center">
                                    <h3 class="f-s-16 ">John Doe</h3>
                                    <div class="sl-date f-s-12 m-l-4">5 minutes ago</div>
                                </div>

                                <p class="m-t-0 f-s-14">assign a new task Design weblayout</p>
                                <div class="row mt-3">
                                    <div class="col-sm-6 col-lg-3 m-b-8">
                                        <img src="assets/images/blog/blog-img1.jpg" width="100%" alt="user"
                                            class="rounded" />
                                    </div>
                                    <div class="col-sm-6 col-lg-3 m-b-8">
                                        <img src="assets/images/blog/blog-img2.jpg" width="100%" alt="user"
                                            class="rounded" />
                                    </div>
                                    <div class="col-sm-6 col-lg-3 m-b-8">
                                        <img src="assets/images/blog/blog-img3.jpg" width="100%" alt="user"
                                            class="rounded" />
                                    </div>
                                    <div class="col-sm-6 col-lg-3 m-b-8">
                                        <img src="assets/images/blog/blog-img4.jpg" width="100%" alt="user"
                                            class="rounded" />
                                    </div>
                                </div>
                                <div class="d-flex gap-10">
                                    <a href="/"
                                        class="text-decoration-none d-flex align-items-center f-s-14 mr-3 text-primary"><i-tabler
                                            name="message" class="icon-18 m-r-4"></i-tabler>
                                        comments</a>
                                    <a href="/"
                                        class="text-decoration-none d-flex align-items-center f-s-14 text-error"><i-tabler
                                            name="heart" class="icon-18 m-r-4"></i-tabler> 5
                                        Likes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="sl-item my-4 border-top pt-4">
                        <div class="sl-left float-left me-3">
                            <img src="assets/images/profile/user-2.jpg" width="40" alt="user" class="rounded-circle" />
                        </div>
                        <div class="sl-right">
                            <div>
                                <div class="d-sm-flex align-items-center">
                                    <h3 class="f-s-16 ">James Smith</h3>
                                    <div class="sl-date f-s-12 m-l-4">5 minutes ago</div>
                                </div>
                                <div class="m-t-12 row">
                                    <div class="col-sm-3">
                                        <img src="assets/images/blog/blog-img4.jpg" class="w-100 rounded" alt="user" />
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="m-0 f-s-14">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Integer nec odio. Praesent libero. Sed cursus ante dapibus
                                            diam.
                                        </p>
                                        <button mat-flat-button class="m-t-12">
                                            Design weblayout
                                        </button>
                                    </div>
                                </div>
                                <div class="d-flex gap-10 m-t-8">
                                    <a href="/"
                                        class="text-decoration-none d-flex align-items-center f-s-14 mr-3 text-primary"><i-tabler
                                            name="message" class="icon-18 m-r-4"></i-tabler>
                                        comments</a>
                                    <a href="/"
                                        class="text-decoration-none d-flex align-items-center f-s-14 text-error"><i-tabler
                                            name="heart" class="icon-18 m-r-4"></i-tabler> 5
                                        Likes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="sl-item my-4 border-top pt-4">
                        <div class="sl-left float-left me-3">
                            <img src="assets/images/profile/user-3.jpg" width="40" alt="user" class="rounded-circle" />
                        </div>
                        <div class="sl-right">
                            <div>
                                <div class="d-sm-flex align-items-center">
                                    <h3 class="f-s-16 ">Maria Smith</h3>
                                    <div class="sl-date f-s-12 m-l-4">5 minutes ago</div>
                                </div>
                                <p class="my-4 f-s-14">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Integer nec odio. Praesent libero. Sed cursus ante dapibus
                                    diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                                    Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed
                                    augue semper
                                </p>
                            </div>
                            <div class="d-flex gap-10">
                                <a href="/"
                                    class="text-decoration-none d-flex align-items-center f-s-14 mr-3 text-primary"><i-tabler
                                        name="message" class="icon-18 m-r-4"></i-tabler>
                                    comments</a>
                                <a href="/" class="text-decoration-none d-flex align-items-center f-s-14 text-error"><i-tabler
                                        name="heart" class="icon-18 m-r-4"></i-tabler> 5
                                    Likes</a>
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="sl-item my-4 border-top pt-4">
                        <div class="sl-left float-left me-3">
                            <img src="/assets/images/profile/user-4.jpg" width="40" alt="user" class="rounded-circle" />
                        </div>
                        <div class="sl-right">
                            <div>
                                <div class="d-sm-flex align-items-center">
                                    <h3 class="f-s-16 ">John Smith</h3>
                                    <div class="sl-date f-s-12 m-l-4">5 minutes ago</div>
                                </div>
                                <div class="m-t-16 p-16 rounded bg-light-primary text-primary f-s-12">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt
                                </div>
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="sl-item my-4 border-top pt-4">
                        <div class="sl-left float-left me-3">
                            <img src="assets/images/profile/user-1.jpg" width="40" alt="user" class="rounded-circle" />
                        </div>
                        <div class="sl-right">
                            <div>
                                <div class="d-sm-flex align-items-center">
                                    <h3 class="f-s-16 ">John Smith</h3>
                                    <div class="sl-date f-s-12 m-l-4">5 minutes ago</div>
                                </div>
                                <div class="m-t-16 p-16 rounded bg-light-secondary text-secondary f-s-12">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-tab>
        <!-- End Tab 1 -->
        <!-- Tab 2 -->
        <mat-tab label="Profile">
            <mat-card-content class="p-24">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <h5 class=" f-w-500 f-s-14">Full Name</h5>
                        <span class="f-s-12">Johnathan Deo</span>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <h5 class=" f-w-500 f-s-14">Mobile</h5>
                        <span class="f-s-12">(123) 456 7890</span>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <h5 class=" f-w-500 f-s-14">Email</h5>
                        <span class="f-s-12">johnathan&#64;admin.com</span>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <h5 class=" f-w-500 f-s-14">Location</h5>
                        <span class="f-s-12">London</span>
                    </div>
                </div>
                <p class="f-s-12 m-t-20">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
                    justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
                    Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                <p class="f-s-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                    has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                    galley of type and scrambled it to make a type specimen book. It has survived not only five
                    centuries</p>
                <p class="f-s-12">It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                    Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                    versions of Lorem Ipsum.</p>

                <h5 class=" f-w-500 f-s-14 m-t-30 m-b-16">Skill Set</h5>
                <div>
                    <div class="d-flex justify-content-between m-b-4">
                        <span class="f-s-14">Wordpress</span>
                        <span class="f-s-14">80%</span>
                    </div>
                    <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                </div>
                <div class="m-t-16">
                    <div class="d-flex justify-content-between m-b-4">
                        <span class="f-s-14">HTML 5</span>
                        <span class="f-s-14">90%</span>
                    </div>
                    <mat-progress-bar mode="determinate" color="secondary" value="80"></mat-progress-bar>
                </div>
                <div class="m-t-16">
                    <div class="d-flex justify-content-between m-b-4">
                        <span class="f-s-14">jQuery</span>
                        <span class="f-s-14">50%</span>
                    </div>
                    <mat-progress-bar mode="determinate" color="warn" value="80"></mat-progress-bar>
                </div>
            </mat-card-content>
        </mat-tab>
        <!-- Tab 3 -->
        <mat-tab label="Settings">
            <mat-card-content class="p-24">
                <!-- ============================================================== -->
                <!-- column -->
                <!-- ============================================================== -->
                <form class="basic-form">
                    <div class="row">
                        <div class="col-12">
                            <label class="f-s-14 f-w-500 m-b-4">Name</label>
                            <mat-form-field class="w-100" appearance="outline">
                                <input matInput placeholder="Some text value" value="John Deo" />
                            </mat-form-field>
                            <!-- 2 -->
                            <label class="f-s-14 f-w-500 m-b-4">Email</label>
                            <mat-form-field class="w-100" appearance="outline">
                                <input matInput placeholder="EmailId" type="email" />
                            </mat-form-field>
                            <!-- 3 -->
                            <label class="f-s-14 f-w-500 m-b-4">Password</label>
                            <mat-form-field class="w-100" appearance="outline">
                                <input matInput placeholder="Password" type="password" />
                            </mat-form-field>
                            <!-- 4 -->
                            <label class="f-s-14 f-w-500 m-b-4">Select</label>
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-select placeholder="Select">
                                    <mat-option value="option">Option</mat-option>
                                    <mat-option value="option">Option2</mat-option>
                                    <mat-option value="option">Option3</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!-- 5 -->
                            <label class="f-s-14 f-w-500 m-b-4">Address</label>
                            <mat-form-field class="w-100" appearance="outline">
                                <textarea matInput placeholder="Address"></textarea>
                            </mat-form-field>
                            <button mat-flat-button>Update Profile</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-tab>
    </mat-tab-group>
</mat-card>