@use "@angular/material" as mat;
@include mat.core();

@import "variables";
@import "helpers/color";
@import "helpers/icon-size";

//Theme colors

@import "themecolors/default_theme";
@include mat.all-component-themes($bluetheme);

//container layout
@import "overrides/materialoverrides";
@import "container";
@import "layouts/layouts";
@import "grid/grid";
@import "helpers/custom-flex";
@import "helpers/index";

// pages
@import "pages/dashboards";
@import "pages/auth";