<mat-card class="cardWithShadow text-center little-profile">
    <img mat-card-image src="assets/images/backgrounds/profile-bg.jpg" class="profile-bg-height"
        alt="Photo of a Shiba Inu" />
    <mat-card-content class="p-24">
        <div class="pro-img">
            <img src="assets/images/profile/user-4.jpg" width="128" alt="user" class="rounded-circle" />
        </div>
        <h3 class="m-b-0 f-s-20 f-w-500 m-t-30">Angela Dominic</h3>
        <h6 class="f-s-14 f-w-400 m-t-4">Web Designer &amp; Developer</h6>
        <div class="justify-content-center m-y-10 p-24">
            <button mat-flat-button>Follow</button>
        </div>
        <div class="row">
            <div class="col-4">
                <h3 class="m-b-4 f-s-20 f-w-500">1099</h3>
                <span class="f-s-14">Articles</span>
            </div>
            <div class="col-4">
                <h3 class="m-b-4 f-s-20 f-w-500">23,469</h3>
                <span class="f-s-14">Followers</span>
            </div>
            <div class="col-4">
                <h3 class="m-b-4 f-s-20 f-w-500">6035</h3>
                <span class="f-s-14">Likes</span>
            </div>
        </div>
    </mat-card-content>
</mat-card>