<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div class="row">
  <!-- column -->
  <div class="col-lg-8 col-sm-12">
    <app-sales-overview></app-sales-overview>
  </div>
  <!-- column -->
  <!-- column -->
  <div class="col-lg-4 col-sm-12">
    <app-our-visiter></app-our-visiter>
  </div>
  <!-- column -->
</div>

<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div class="row">
  <!-- Card column -->
  <div class="col-lg-3 col-sm-12">
    <app-profile></app-profile>
    <app-contacts></app-contacts>
  </div>
  <!-- Card column -->
  <!-- Card column -->
  <div class="col-lg-9 col-sm-12">
    <app-activity-timeline></app-activity-timeline>
  </div>
</div>
