<app-topstrip></app-topstrip>
<div class="blue_theme light-theme" autosize autoFocus dir="ltr">
  <!-- ============================================================== -->
  <!-- VerticalHeader -->
  <!-- ============================================================== -->

  <app-header [showToggle]="!isOver" (toggleMobileNav)="sidenav.toggle()"></app-header>

  <mat-sidenav-container class="mainWrapper">
    <!-- ============================================================== -->
    <!-- Vertical Sidebar -->
    <!-- ============================================================== -->
    <mat-sidenav #leftsidenav [mode]="isOver ? 'over' : 'side'" [opened]="!isOver"
      (openedChange)="onSidenavOpenedChange($event)" (closedStart)="onSidenavClosedStart()" class="sidebarNav">
      <div class="flex-layout">
        <app-sidebar (toggleMobileNav)="sidenav.toggle()" [showToggle]="isOver"></app-sidebar>
        <ng-scrollbar class="position-relative" style="height: 100%">
          <mat-nav-list class="sidebar-list">
            @for(item of navItems; track item) {
            <app-nav-item [item]="item" (notify)="sidenav.toggle()">
            </app-nav-item>
            }
          </mat-nav-list>
        </ng-scrollbar>
        <div class="p-20">
          <div class="bg-light-secondary d-flex align-items-center gap-4 rounded p-20 m-t-20">
            <div>
              <h5 class="f-s-16 f-w-600 m-b-8"> Check Pro <br> Version </h5><a mat-flat-button=""
                href="https://www.wrappixel.com/templates/materialpro-angular-dashboard/?ref=353" target="_blank"
                class="d-flex justify-content-center bg-secondary mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-unthemed mat-mdc-button-base"
                mat-ripple-loader-uninitialized="" mat-ripple-loader-class-name="mat-mdc-button-ripple"><span
                  class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span class="mdc-button__label">
                  Check </span><span class="mat-focus-indicator"></span><span
                  class="mat-mdc-button-touch-target"></span></a>
            </div><img src="/assets/images/backgrounds/rocket.png" alt="imgae" class="side-img m-t--48 m-r--8">
          </div>
        </div>
      </div>
    </mat-sidenav>

    <!-- ============================================================== -->
    <!-- Main Content -->
    <!-- ============================================================== -->
    <mat-sidenav-content class="contentWrapper" #content>

      <main class="pageWrapper maxWidth">
        <!-- ============================================================== -->
        <!-- Outlet -->
        <!-- ============================================================== -->
        <router-outlet></router-outlet>
      </main>

      <div class="p-16 p-t-8 p-b-30 text-center">
        Design & Developed by <a class="text-decoration-none" href="https://www.wrappixel.com/"
          target="_blank">WrapPixel.com</a>
      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>
</div>