@use "../variables" as *;

html {
  .mat-secondary {
    .mdc-linear-progress__bar-inner {
      border-color: var(--mat-sys-secondary);
    }
  }

  .mat-warning {
    .mdc-linear-progress__bar-inner {
      border-color: $warning;
    }
  }

  .mat-error {
    .mdc-linear-progress__bar-inner {
      border-color: var(--mat-sys-error);
    }
  }

  // style

  .mat-mdc-progress-bar {
    border-radius: var(--mat-sys-corner-small);
  }
}
