@use "sass:map";
@use "@angular/material" as mat;

@include mat.menu-overrides(
  (
    container-shape: var(--mat-sys-corner-small),
  )
);

//   styles
html {
  .mat-mdc-menu-panel {
    box-shadow: var(--mat-sys-level3) !important;
  }

  .mat-mdc-select-panel {
    padding: 8px !important;
  }
}
